name: temp google sheet update

env:
  SERVICE: ${{ secrets.SERVICE_BASE64 }} | base64 -d
  run: |
    echo $SERVICE > service.json

on:
  push:
  schedule:
    - cron: "*/5 * * * *"


jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.7
      - name: Install dependencies and run script
        run: |
          python -m pip install --upgrade pip
          pip install pipenv 
          pipenv install
          pipenv install gspread
          pipenv install pandas
          pipenv install google
          pipenv install pyyaml
          pipenv run python src/temp.py
