name: temp google sheet update

env:
  SERVICE: ${{ secrets.TEST64 }} | base64 -d

on:
  push:
  schedule:
    - cron: "*/5 * * * *"

jobs:
  build:
    runs-on: ubuntu-latest 
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.7
      - name: Install dependencies and run script
        run: |
          touch secrets.json
          echo ${{ secrets.TEST64 }} | base64 -d >> secrets.json
          cat secrets.json  
          echo hello
          printenv
          python -m pip install --upgrade pip
          pip install pipenv 
          pipenv install
          pipenv install gspread
          pipenv install pandas
          pipenv install google
          pipenv install pyyaml
          pipenv run python src/temp.py
