name: temp google sheet update

env:
  SERVICE: ${{ secrets.SERVICE_BASE64 }} | base64 -d > service.json

on:
  push:
  schedule:
    - cron: "*/5 * * * *"


jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install dependencies and run script
        run: |
          echo ${{ secrets.SERVICE_BASE64 }} | base64 -d > service.json
          echo "$(<service.json )"
